* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-1 {
  width: 20%;
}

/* Scrollbar Style---*/
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d274d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes reciprocateUpDown {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.reciprocate {
  animation: reciprocateUpDown 2s infinite !important;
}
