* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-1 {
  width: 20%;
}

/* Scrollbar Style---*/
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d274d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
