svg {
  border-radius: 100px;
}

text {
  font-weight: 700;
  word-break: break-all;
}

.pie {
  position: relative !important;
  z-index: 10;
  height: 85vh !important;
}

.pie .logoInside {
  position: absolute !important;
  padding: 6px 10px;
  min-width: 17% !important;
  max-width: 26% !important;
}

.pie .insight-text {
  position: absolute;
  font-size: 0.9rem;
  padding: 6px 10px;
  font-weight: 500;
}
.pie .button {
  position: absolute;
  font-size: 0.6rem;
  padding: 6px 10px;
  border-radius: 2rem !important;
  border: 1px double black !important;
  color: black !important;
}

.pie .insight-text-6 {
  top: 15%;
  left: 32%;
}

.pie .insight-text-5 {
  top: 38%;
  left: 15%;
}

.pie .insight-text-4 {
  top: 59%;
  left: 17%;
}

.pie .insight-text-3 {
  top: 78%;
  left: 42%;
}

.pie .insight-text-2 {
  top: 63%;
  left: 63%;
}

.pie .insight-text-1 {
  top: 38%;
  left: 66%;
}

.pie .insight-text-0 {
  top: 15%;
  left: 56%;
  background-position: top 15% left 56%;
  background-position-x: 15%;
  background-position-y: 56%;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (max-width: 480px) {
  .pie,
  .pie-chart-height {
    height: 500px !important;
  }

  svg {
    border-radius: 20px;
  }

  text {
    font-size: 0.5rem;
    font-weight: 700;
  }

  .pie .logoInside {
    min-width: 17% !important;
    max-width: 26% !important;
    top: 45% !important;
    left: 40% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    font-weight: 400;
    width: 28%;
  }
  .pie .button {
    position: absolute;
    font-size: 0.45rem;
    border-radius: 2rem !important;
    width: 20% !important;
    padding: 1px 1px;
    height: 1.2rem !important;
  }

  .pie .insight-text-6 {
    left: 26%;
  }

  .pie .button-6 {
    top: 28%;
    left: 31%;
  }

  .pie .insight-text-5 {
    top: 36%;
    left: 11%;
    min-width: 18%;
    max-width: 26%;
    word-break: break-word;
  }

  .pie .button-5 {
    top: 48%;
    left: 10%;
  }

  .pie .insight-text-4 {
    top: 58%;
    left: 12%;
    min-width: 18%;
    max-width: 21%;
    text-align: center;
  }
  .pie .button-4 {
    top: 67%;
    left: 17%;
  }

  .pie .insight-text-3 {
    top: 70%;
    left: 39.5%;
    word-break: break-word;
    width: 26%;
  }
  .pie .button-3 {
    top: 72%;
    left: 41%;
  }

  .pie .insight-text-2 {
    top: 57.5%;
    left: 64%;
  }
  .pie .button-2 {
    top: 69%;
    left: 68%;
  }

  .pie .insight-text-1 {
    top: 35%;
    left: 71%;
  }
  .pie .button-1 {
    top: 48%;
    left: 72%;
  }

  .pie .insight-text-0 {
    top: 14%;
    left: 54%;
  }
  .pie .button-0 {
    top: 28%;
    left: 55%;
  }
  .pieDetail .pieInfo .pieInfoList {
    font-size: 0.9rem;
  }

  .pieDetail .pieButton {
    margin: 7% auto 6%;
  }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
  .pie-chart-height {
    height: 500px !important;
  }
  .pie .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 47% !important;
    left: 43% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 0.8rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    top: 18%;
    left: 28%;
  }

  .pie .button-6 {
    top: 26%;
    left: 28%;
  }

  .pie .insight-text-5 {
    top: 34%;
    left: 13%;
    min-width: 15%;
    max-width: 18%;
  }

  .pie .button-5 {
    top: 47%;
    left: 12%;
  }

  .pie .insight-text-4 {
    top: 63%;
    left: 17%;
    min-width: 18%;
    max-width: 21%;
    text-align: center;
  }
  .pie .button-4 {
    top: 74% !important;
    left: 20% !important;
    min-width: 16%;
    max-width: 18%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 41%;
  }
  .pie .button-3 {
    top: 85%;
    left: 44%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
  }
  .pie .button-2 {
    top: 73%;
    left: 66%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 70%;
  }
  .pie .button-1 {
    top: 47%;
    left: 72%;
  }

  .pie .insight-text-0 {
    top: 18%;
    left: 56%;
  }
  .pie .button-0 {
    top: 26%;
    left: 56%;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  div#reactgooglegraph-1 {
    height: 750px !important;
  }

  .pie-chart-height {
    height: 500px !important;
  }
  .pie {
    /* width: 80%; */
  }
  .pieDetail {
    margin: 5% auto;
  }
  .pieInfoList {
    height: 21vh;
    -webkit-line-clamp: 10;
  }
  .pie .logoInside {
    min-width: 14% !important;
    max-width: 16% !important;
    top: 45% !important;
    left: 45% !important;
  }

  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    top: 15%;
    left: 35%;
    width: 16%;
  }

  .pie .button-6 {
    top: 22%;
    left: 36%;
  }

  .pie .insight-text-5 {
    top: 35.5%;
    left: 18%;
    width: 18%;
    text-align: center;
    word-break: break-word;
  }

  .pie .button-5 {
    top: 48%;
    left: 24%;
  }

  .pie .insight-text-4 {
    top: 61%;
    left: 17%;
    width: 16%;
    min-width: 18%;
    max-width: 21%;
    text-align: center;
  }
  .pie .button-4 {
    top: 74%;
    left: 29%;
  }

  .pie .insight-text-3 {
    top: 78%;
    left: 41%;
    width: 16%;
  }
  .pie .button-3 {
    top: 80%;
    left: 47%;
  }

  .pie .insight-text-2 {
    top: 65%;
    left: 63%;
    width: 16%;
  }
  .pie .button-2 {
    top: 75%;
    left: 64%;
  }

  .pie .insight-text-1 {
    top: 40%;
    left: 66.5%;
    width: 16%;
  }
  .pie .button-1 {
    top: 47%;
    left: 69%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 56%;
    width: 16%;
  }
  .pie .button-0 {
    top: 22%;
    left: 56%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  div#reactgooglegraph-1 {
    height: 750px !important;
  }
  .pie-chart-height {
    height: 800px !important;
  }
  .pie {
    position: relative !important;
  }
  .pie .logoInside {
    min-width: 16% !important;
    max-width: 18% !important;
    top: 103%;
    left: 46%;
    position: absolute;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    width: 15%;
    top: 14%;
    left: 30%;
  }

  .pie .button-6 {
    top: 25%;
    left: 32%;
  }

  .pie .insight-text-5 {
    width: 15%;
    top: 35%;
    left: 15%;
    min-width: 20%;
    max-width: 22%;
    word-break: break-word;
  }

  .pie .button-5 {
    top: 47%;
    left: 16%;
  }

  .pie .insight-text-4 {
    width: 15%;
    top: 61%;
    left: 18%;
    min-width: 18%;
    max-width: 21%;

    text-align: center;
  }
  .pie .button-4 {
    top: 69%;
    left: 19%;
  }

  .pie .insight-text-3 {
    width: 18%;
    top: 72%;
    left: 42.5%;
  }
  .pie .button-3 {
    top: 75%;
    left: 44%;
  }

  .pie .insight-text-2 {
    width: 16%;
    top: 61%;
    left: 63%;
  }
  .pie .button-2 {
    top: 70%;
    left: 70%;
  }

  .pie .insight-text-1 {
    width: 15%;
    top: 38%;
    left: 67.5%;
  }
  .pie .button-1 {
    top: 47%;
    left: 73%;
  }

  .pie .insight-text-0 {
    width: 15%;
    top: 14%;
    left: 54%;
  }
  .pie .button-0 {
    top: 26%;
    left: 55%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1510px) {
  text {
    font-size: 0.9rem;
    font-weight: 700;
    word-break: break-all;
  }
  .pie {
    position: relative !important;
  }
  .pie .logoInside {
    min-width: 18% !important;
    max-width: 23% !important;
    top: 37vh;
    left: 41% !important;
    position: absolute;
  }
  .pie-chart-height {
    height: 80vh !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    top: 13%;
    left: 32%;
    width: 16%;
  }

  .pie .button-6 {
    top: 30%;
    left: 30%;
  }

  .pie .insight-text-5 {
    top: 36%;
    left: 12%;
    min-width: 23%;
    max-width: 28%;
    word-break: break-word;
  }

  .pie .button-5 {
    top: 47%;
    left: 14%;
  }

  .pie .insight-text-4 {
    top: 59%;
    left: 18%;
    width: 24%;
    text-align: center;
  }
  .pie .button-4 {
    top: 61%;
    left: 20%;
  }

  .pie .insight-text-3 {
    top: 71%;
    left: 42.5%;
    width: 20%;
  }
  .pie .button-3 {
    top: 73%;
    left: 47%;
  }

  .pie .insight-text-2 {
    top: 60%;
    left: 63%;
    width: 20%;
  }
  .pie .button-2 {
    top: 63%;
    left: 70%;
  }

  .pie .insight-text-1 {
    top: 37%;
    left: 70.5%;
    width: 15%;
  }
  .pie .button-1 {
    top: 48%;
    left: 75%;
  }

  .pie .insight-text-0 {
    top: 15%;
    left: 55%;
    width: 16%;
  }
  .pie .button-0 {
    top: 30%;
    left: 60%;
  }
}

@media screen and (min-width: 1510px) and (max-width: 1920px) {
  .pie-chart-height {
    /* height: 500px !important; */
  }
  .pie .logoInside {
    top: 46%;
    left: 43%;
    background-position: top 45% left 42% !important;
    min-width: 15% !important;
    max-width: 20% !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    top: 12%;
    left: 35%;
    width: 12% !important;
  }

  .pie .button-6 {
    top: 30%;
    left: 35%;
  }

  .pie .insight-text-5 {
    top: 34% !important;
    left: 23% !important;
    max-width: 15%;
    word-break: break-all;
  }

  .pie .button-5 {
    top: 48% !important;
    left: 18% !important;
  }

  .pie .insight-text-4 {
    top: 59% !important;
    left: 25% !important;
    width: 15%;
    text-align: center;
  }
  .pie .button-4 {
    top: 61.5%;
    left: 22% !important;
  }

  .pie .insight-text-3 {
    top: 70%;
    left: 44%;
    width: 16%;
  }
  .pie .button-3 {
    top: 73%;
    left: 48%;
  }

  .pie .insight-text-2 {
    top: 58%;
    left: 61%;
    width: 16%;
  }
  .pie .button-2 {
    top: 62%;
    left: 72%;
  }

  .pie .insight-text-1 {
    top: 34%;
    left: 67%;
    width: 16%;
  }
  .pie .button-1 {
    top: 48%;
    left: 75%;
  }

  .pie .insight-text-0 {
    top: 12%;
    left: 53%;
    width: 12%;
  }
  .pie .button-0 {
    top: 30%;
    left: 60%;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2559px) {
  .pie-chart-height {
    height: 700px !important;
  }

  div#reactgooglegraph-1 {
    height: 850px !important;
  }
  .pie .logoInside {
    min-width: 14% !important;
    max-width: 17% !important;
    top: 46% !important;
    left: 44% !important;
    position: absolute;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    top: 14%;
    left: 37%;
    width: 14%;
    text-align: center;
  }

  .pie .button-6 {
    top: 25%;
    left: 40%;
  }

  .pie .insight-text-5 {
    top: 35% !important;
    left: 24% !important;
    width: 15%;
  }

  .pie .button-5 {
    top: 47%;
    left: 24% !important;
  }

  .pie .insight-text-4 {
    top: 60%;
    left: 31%;
    width: 15%;
    text-align: center;
  }
  .pie .button-4 {
    top: 76%;
    left: 26%;
  }

  .pie .insight-text-3 {
    top: 110%;
    left: 47%;
    width: 16%;
  }
  .pie .button-3 {
    top: 85% !important;
    left: 48% !important;
  }

  .pie .insight-text-2 {
    top: 60%;
    left: 61% !important;
    width: 16%;
  }
  .pie .button-2 {
    top: 77%;
    left: 71%;
  }

  .pie .insight-text-1 {
    top: 34%;
    left: 66% !important;
    width: 14%;
  }
  .pie .button-1 {
    top: 47%;
    left: 66% !important;
  }

  .pie .insight-text-0 {
    top: 13%;
    left: 54%;
    width: 16%;
  }
  .pie .button-0 {
    top: 25%;
    left: 61%;
  }
}

@media screen and (min-width: 2560px) and (max-width: 3840px) {
  .pie-chart-height {
    height: 700px !important;
  }

  div#reactgooglegraph-1 {
    height: 850px !important;
  }
  .pie .logoInside {
    min-width: 14% !important;
    max-width: 16% !important;
    top: 45% !important;
    left: 44.7% !important;
  }

  .pie .button {
    font-size: 0.8rem !important;
    padding: 0.7rem 1rem !important;
  }
  .pie .insight-text {
    position: absolute;
    font-size: 1.4rem;
    padding: 6px 10px;
    font-weight: 500;
  }
  .pie .button {
    position: absolute;
    font-size: 0.6rem;
    padding: 6px 10px;
    border-radius: 2rem !important;
  }

  .pie .insight-text-6 {
    top: 17%;
    left: 35%;
    width: 14%;
    text-align: center;
  }

  .pie .button-6 {
    top: 23%;
    left: 36%;
    width: 12% !important;
  }

  .pie .insight-text-5 {
    top: 50% !important;
    left: 23% !important;
    width: 15%;
    word-break: break-word;
  }

  .pie .button-5 {
    top: 46%;
    left: 23% !important;
  }

  .pie .insight-text-4 {
    top: 89%;
    left: 22%;
    width: 22%;
    text-align: center;
  }
  .pie .button-4 {
    top: 75%;
    left: 28%;
  }

  .pie .insight-text-3 {
    top: 100%;
    left: 45%;
    width: 13%;
  }
  .pie .button-3 {
    top: 84%;
    left: 47%;
  }

  .pie .insight-text-2 {
    top: 84%;
    left: 61% !important;
    width: 16%;
  }
  .pie .button-2 {
    top: 76%;
    left: 66.5%;
  }

  .pie .insight-text-1 {
    top: 49%;
    left: 66% !important;
    width: 14%;
  }
  .pie .button-1 {
    top: 46%;
    left: 70% !important;
  }

  .pie .insight-text-0 {
    top: 18%;
    left: 54%;
    width: 16%;
  }
  .pie .button-0 {
    top: 23%;
    left: 59%;
  }
}
