.gridHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  width: 32%;
  margin: 2% 0;
}

.displayFlex {
  display: flex;
  flex-wrap: wrap;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (min-width: 279px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 760px) {
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .gridPageImage {
    width: 150px;
    height: 75px;
    margin: 5% auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .gridPageImage {
    width: 170px;
    height: 85px;
    margin: 6% auto;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1919px) {
  .gridPageImage {
    width: 180px;
    height: 90px;
    margin: 7% auto;
  }
}

@media screen and (min-width: 1920px) {
  .gridPageImage {
    width: 200px;
    height: 100px;
    margin: 8% auto;
  }
}
